 .styled-table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #333; /* Add border around the entire table */
        }
        .styled-table th, .styled-table td {
            padding: 12px;
            border: 1px solid #ddd; /* Light gray border for table cells */
            text-align: left;
        }
        .styled-table th {
            background-color: #f4f4f4; /* Light background for headers */
        }
        .styled-table td.close {
             background-color: #FF0000;
        }